:root {
    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(300 0% 4%);
    --bg-light: hsl(0 0% 9%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 39%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(184 54% 57%);
    --secondary: hsl(2 67% 75%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    color: var(--text);
}